<!DOCTYPE html>
<html lang="en">
<head>
<title>kaiserstrike.org - About</title>
<meta charset="UTF-8">
<meta name="description" content="About the Kaiser strike">
<meta name="robots" content="index,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url"           content="https://kaiserstrike.org">
<meta property="og:type"          content="website">
<meta property="og:title"         content="kaiserstrike.org">
<meta property="og:description"   content="Join the Kaiser strike">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
</head>
<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="842621092777234"
  theme_color="#000000"
  greeting_dialog_display="hide"
  logged_in_greeting="Have a question? Enter it here."
  logged_out_greeting="Have a question? Enter it here.">
</div>
<!-- Load script for Facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-right-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href={% url 'help' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">Contact</a>
    <a href={% url 'faq' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">FAQ</a>
    <a href={% url 'about' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-black">About</a>
    <a href={% url 'home' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">Home</a>
  </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href={% url 'home' %} class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href={% url 'about' %} class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href={% url 'faq' %} class="w3-bar-item w3-button w3-padding-large">FAQ</a>
    <a href={% url 'help' %} class="w3-bar-item w3-button w3-padding-large">Contact</a>
  </div>
</div>
<!-- First Grid -->
<div class="w3-container w3-white w3-center" style="padding:70px 16px">
  <a class="fb-like" data-href="https://kaiserstrike.org" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></a><style media="screen" type="text/css">.fb_iframe_widget span{vertical-align: baseline !important;}
  </style> <a class="twitter-hashtag-button" href="https://twitter.com/intent/tweet?button_hashtag=kaiserstrike" data-text="@aboutKP I support the kaiser strike..." data-size="large">Tweet kaiserstrike</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="w3-container w3-white w3-left" style="padding:0px 16px">
  <h1 class="w3-margin w3-jumbo">About</h1>
  <h4 class="w3-margin"><b>Website</b></h4>
  <p class="w3-margin">Want Kaiser to remain a best place to work, and to receive care?</p>
  <p class="w3-margin">Send Kaiser executives a message by making a digital strike pledge
    and by tweeting at Kaiser (@aboutKP) with #kaiserstrike, #wearekaiserworkers, and <i>your own comment</i>. Both your strike pledge and your twitter comment will be anonymous.</p>
  <h4 class="w3-margin"><b>Strike</b></h4>
  <p class="w3-margin">Members of the Coalition of Kaiser Permanente Unions <a href="https://www.unioncoalition.org">(CKPU)</a>
  are planning a 5-day Unfair Labor Practice (ULP) strike in Oct/Nov 2019. The strike has been called
  to protest Kaiser's refusal (for 12+ months) to meet and bargain with the Coalition, for which Kaiser was
  <a href="http://www.seiu-uhw.org/wp-content/blogs.dir/166/files/2018/12/NLRB-Complaint-Against-Kaiser_12-28-2018_CPT.32-CA-220268.pdf">indicted</a> by the National Labor Relations Board,
  and for which Kaiser will stand trial in August 2019. Together, the Coalition unions represent ~85,000 Kaiser employees.</p>
  <p class="w3-margin">Sometimes (unfortunately)...it takes a (massive) strike to get Kaiser back on track, <a href="https://www.lmpartnership.org/videos/how-our-partnership-came-to-be" class="w3-text-red">as evidenced by Kaiser's own history.</a></p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- Footer -->
<footer class="w3-container w3-center w3-padding-12">
  <p>This website is in no way affiliated with Kaiser Permanente. Kaiser Permanente and KP are registered trademarks of Kaiser Foundation Health Plan, Inc.</p>
  <p><a href={% url 'terms' %} >Terms</a> <a href={% url 'privacy' %} >Privacy</a></p>
</footer>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
