<!DOCTYPE html>
<html lang="en">
<head>
  <title>Join the strike. Oct 2019.</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"           content="https://kaiserstrike.org"/>
  <meta property="og:type"          content="website"/>
  <meta property="og:description"   content="Pledge to join the Oct 2019 Kaiser strike"/>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
</head>
<body>
<!-- Load script for Facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Load script for Twitter timeline -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
<!-- Header -->
<div class="header w3-light-green">
  <div class="down">
    <h1>Pledge to Join the Oct 2019 Strike</h1>
    <br>
    <div class="calling" style="color:#fff">and post a comment to Twitter</div>
    <br><br>
    <div style="background:#f1f1f1; border-radius:10px; text-align:center; clear:none; float:left; width:80px; margin-bottom:5px; margin-right:20px;">
      <h1 style="color:#000000;" class="calling">{{count}}</h1>
    </div>
    <div style="margin-bottom:5px; color:#000000" class="calling">strike pledges</div>
    <div style="background:#f1f1f1; border-radius:10px; text-align:center; clear:none; float:left; width:80px; margin-top:5px; margin-right:20px;">
      <h1 style="color:#000000;" class="calling">80+</h1>
    </div>
    <div style="margin-top:10px; color:#000000" class="calling">tweeted comments</div>
  </div>
</div>
<div class="row">
<!-- First Column -->
  <div class="column left">
    <div class="w3-content down">
      <h1>Final step!</h1>
      <p>Complete the following fields:</p>
      <form action={% url "validate" %} method="post" style="background:#f1f1f1; border-radius:10px; padding:30px">
        {% csrf_token %}
        <br>
        <label for="kaiser_region">1.) Your Kaiser region*</label><br><br>
        <select name="kaiser_region" id="kaiser_region" required>
          <option value="" selected>Select</option>
          <option value="norcal">California - Northern</option>
          <option value="socal">California - Southern</option>
          <option value="colorado">Colorado</option>
          <option value="georgia">Georgia</option>
          <option value="hawaii">Hawaii</option>
          <option value="maryland">Maryland</option>
          <option value="oregon">Oregon</option>
          <option value="virginia">Virginia</option>
          <option value="dc">Washington DC</option>
          <option value="washington">Washington State</option>
        </select><br><br><br>
        <label for="union_member">2.) Are you a member of a Coalition union?* (<a href="https://www.unioncoalition.org/our-coalition-unions/" target="_blank" rel="noopener noreferrer" style='text-decoration: none'>I'm not sure</a>)</label><br><br>
        <select name="union_member" id="union_member" required>
          <option value="" selected>Select</option>
          <option value="yes">Yes</option>
          <option value="no">No (sympathy striker)</option>
        </select><br><br><br>
        <label for="tweet">3.) What do you want to say to Kaiser executives, your co-workers, and/or the public? For example, why are you making this strike pledge?</label><br><br>
          <textarea class="contact" style="border-radius:10px; border-color:#bfbfbf" name="tweet" cols="25" rows="8" placeholder='Your comment will be posted to twitter anonymously, along with "#wearekaiserworkers #kaiserstrike"' maxlength="246" id="tweet"></textarea>
          <br><br><br>
        <label for="personal_email">4.) What is your personal email address, for updates?</label><br><br>
          <input type="text" class="contact" size="20" name="personal_email" placeholder="janemdoe@email.com" id="personal_email">
          <input type="hidden" name="email_hash" value={{email_hash}} id="id_email_hash"><input type="hidden" name="work_email" value={{work_email}} id="id_work_email">
          <br><br>
          <div class="form-actions">
            <button type="submit" class="myButton">Count my pledge</button>
          </div>
        </form>
  	</div>
  </div>
  <div class="column right">
      <div class="w3-content down">
      </div>
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <div class="w3-content down">
    <h1>Spread the Word</h1>
    <br>
    <a class="fb-like" data-href="https://kaiserstrike.org" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></a><style>.fb_iframe_widget span{vertical-align: baseline !important;}
    </style> <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true" data-text= "Make a strike pledge and post to twitter, anonymously, at" data-url="https://kaiserstrike.org" data-dnt="true" data-size="large">Tweet</a>
    <br><br><br><br><br>
  <div class="bodytext">This website is the result of a collaboration between Kaiser employees and the Tech Workers Coalition. It is in no way affiliated with Kaiser Permanente. Kaiser Permanente and KP are registered trademarks of Kaiser Foundation Health Plan, Inc.</div>
  <br>
  <div class="bodytext"><a style="color:#8bc34a" href={% url 'terms' %}>Terms</a> | <a style="color:#8bc34a" href={% url 'privacy' %}>Privacy</a> | <a style="color:#8bc34a" href="mailto:inquiries@kaiserstrike.org">Contact</a></div>
</div>
</div>
</body>
</html>
