<!DOCTYPE html>
<html lang="en">
<title>FAQ</title>
<meta charset="UTF-8">
<meta name="description" content="Kaiser strike FAQ">
<meta name="robots" content="index,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-right-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href={% url 'faq' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">FAQ</a>
    <a href={% url 'about' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">About</a>
    <a href={% url 'home' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">Home</a>


  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href={% url 'home' %} class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href={% url 'about' %} class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href={% url 'faq' %} class="w3-bar-item w3-button w3-padding-large">FAQ</a>
  </div>
</div>

<!-- First Grid -->
<div class="w3-container w3-white w3-left" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">FAQ</h1><br><br>
  <h3 class="w3-margin">When is the strike?</h3>
  <p class="w3-margin">The strike will take place on or after Oct 1, 2019.</p>
  <h3 class="w3-margin">Can I be disciplined for using this website?</h3>
  <p class="w3-margin">The National Labor Relations Act <a href="https://www.nlrb.gov/sites/default/files/attachments/basic-page/node-3024/basicguide.pdf" class="w3-text-red">protects concerted activities for mutual aid or protection</a>, but we recommend against accessing this website on paid work time.</p>
  <br><br><br><br><br><br><br><br><br>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-12">
  <p class="w3-center"><a href="https://techworkerscoalition.org/"><img src="{% static "/twclogo.jpg" %}" alt="Tech Workers Coalition" style="width:50px;height:50px"></a></p>
  <p class="w3-margin">DISCLAIMER: kaiserstrike.org is in no way affiliated with Kaiser Permanente. Kaiser Permanente and KP are registered trademarks of Kaiser Foundation Health Plan, Inc.</p>
  <p class="w3-center"><a href={% url 'terms' %} class="w3-text-red">Terms</a> <a href={% url 'privacy' %} class="w3-text-red">Privacy</a></p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
