<!DOCTYPE html>
<html lang="en">
<head>
<title>kaiserstrike.org - Contact</title>
<meta charset="UTF-8">
<meta name="description" content="Contact">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url"           content="https://kaiserstrike.org">
<meta property="og:type"          content="website">
<meta property="og:title"         content="kaiserstrike.org">
<meta property="og:description"   content="Join the Kaiser strike">
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
</head>
<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="842621092777234"
  theme_color="#000000"
  greeting_dialog_display="hide"
  logged_in_greeting="Have a question? Enter it here."
  logged_out_greeting="Have a question? Enter it here.">
</div>
<!-- Load script for Facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-right-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href={% url 'help' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-black">Contact</a>
    <a href={% url 'faq' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">FAQ</a>
    <a href={% url 'about' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">About</a>
    <a href={% url 'home' %} class="w3-bar-item w3-button w3-right w3-hide-small w3-padding-large w3-hover-black">Home</a>
  </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href={% url 'home' %} class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href={% url 'about' %} class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href={% url 'faq' %} class="w3-bar-item w3-button w3-padding-large">FAQ</a>
    <a href={% url 'help' %} class="w3-bar-item w3-button w3-padding-large">Contact</a>
  </div>
</div>
<!-- First Grid -->
<div class="w3-container w3-white w3-left" style="padding:80px 16px">
  <h1 class="w3-margin w3-jumbo">Contact</h1>
  <p class="w3-margin">**For a faster response, use the chat button at the bottom-right of the screen**</p>
  <form class="w3-margin" method="post">
    {% csrf_token %}
    <br>
    <label for="question">Enter your question here:</label><br><br>
    <tr><th></th><td><textarea name="question" cols="36" rows="7" maxlength="300" id="id_question"></textarea></td></tr><br><br>
    <label for="home_email">Your email address:</label><br><br>
    <tr><th></th><td><input type="text" size="30" maxlength="40" name="home_email" placeholder="(Optional) Personal email" id="id_home_email"></td>
    <br>
    <div class="form-actions"></div>
  </form>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- Footer -->
<footer class="w3-container w3-center w3-padding-12">
    <a class="fb-like" data-href="https://kaiserstrike.org" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></a><style media="screen" type="text/css">
        .fb_iframe_widget span
        {
            vertical-align: baseline !important;
        }
        </style> <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-text="I support the #kaiserstrike @aboutKP" data-url="https://kaiserstrike.org" data-size="large">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>This website is in no way affiliated with Kaiser Permanente. Kaiser Permanente and KP are registered trademarks of Kaiser Foundation Health Plan, Inc.</p>
    <p><a href={% url 'terms' %} class="w3-text-red">Terms</a> <a href={% url 'privacy' %} class="w3-text-red">Privacy</a></p>
</footer>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
