<!DOCTYPE html>
<html lang="en">
<head>
  <title>Join the strike. Oct 2019.</title>
  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Pledge to join the Oct 2019 Kaiser strike">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"           content="https://kaiserstrike.org"/>
  <meta property="og:type"          content="website"/>
  <meta property="og:description"   content="Pledge to join the Oct 2019 Kaiser strike"/>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
</head>
<body>
<!-- Load script for Facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Load script for Twitter timeline -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
<div class="row">
<!-- First Column -->
  <div class="column left" style="background:#8bc34a; height:800px;">
    <div class="down">
      <br>
      <h1 style="color:#fff">Negotiations successful, strike averted!</h1>
      <br><br>
    </div>
  </div>
  <div class="column right" style="height:800px; position:relative;">
    <div style="margin:-125px 0 0 -125px; auto; width:250px; height:250px; top:50%; left:50%; position:absolute;">
      <img src="/static/twclogo.jpg" alt="TWC logo" height="250px" width="250px">
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <div class="down">
    <div class="bodytext">This website was the result of a collaboration between Kaiser workers and the <a href="https://www.techworkerscoalition.org" class="red">Tech Workers Coalition</a>. It is in no way affiliated with Kaiser Permanente. Kaiser Permanente and KP are registered trademarks of Kaiser Foundation Health Plan, Inc.</div>
    <br>
    <div class="bodytext"><a style="color:#8bc34a" href="mailto:inquiries@kaiserstrike.org">Contact</a></div>
  </div>
</div>
<script>
const emailInputs = document.getElementsByTagName("input");
for(let input of emailInputs){
	input.addEventListener('input',()=>{
		input.setCustomValidity('');
		input.checkValidity();
	});
	input.addEventListener('invalid',()=>{
		input.setCustomValidity('Must end in \"@kp.org\"');
	});
}
</script>
</body>
</html>
