<!DOCTYPE html>
<html lang="en">
<head>
<title>Join the strike. Fall 2019.</title>
<meta charset="UTF-8">
<meta name="description" content="RSVP for the Fall 2019 Kaiser strike">
<meta name="robots" content="index,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url"           content="https://kaiserstrike.org"/>
<meta property="og:type"          content="website"/>
<meta property="og:title"         content="kaiserstrike.org"/>
<meta property="og:description"   content="RSVP for the Fall 2019 Kaiser strike"/>
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
h1 {font-size: 38px}
</style>
{% load static %}
</head>
<body>
  <!-- Load script for Facebook share button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- Load script for Twitter timeline -->
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));</script>
<!-- Header -->
<header class="w3-container w3-light-green w3-center" style="padding:60px 16px">
  <h1 class="w3-margin w3-xxlarge w3-text-white">RSVP for the Fall 2019 Kaiser Strike</h1>
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third" style='padding:0px 20px'>
      <h1 class="w3-text-grey">Why?</h1>
      <p class="w3-text-grey">In Oct/Nov 2019, as many as 100,000 of us (Kaiser employees) are going on strike. Use this website to RSVP and to post a comment to twitter under the handle @kaiserstrike19.<br><br>Simply enter your Kaiser email address below. We'll e-mail you a link to RSVP, and to post to twitter.</p>
      <form method="post" align="center">
        {% csrf_token %}
        <p class="w3-text-grey">{{ form.email }} @kp.org</p>
        <div class="form-actions">
  	       <button type="submit" class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">RSVP</button>
        </div>
      </form>
    </div>
    <div class="w3-third w3-center" style='padding:0px 20px'>
      <br><br>
      <h1><b>{{ count }}</b></h1>
      <p class="w3-text-black"><b>Kaiser employees attending</b></p>
      <br><br>
      <h1><b>80+</b></h1>
      <p class="w3-text-black"><b>Tweets</b></p>
      <br><br><br><br>
    </div>
    <div class="w3-third" style='padding:0px 20px'>
      <a class="twitter-timeline" data-lang="en" data-chrome="nofooter" data-width="600" data-height="440" data-limit="" data-dnt="true" href="https://twitter.com/kaiserstrike19?ref_src=twsrc%5Etfw">Tweets by kaiserstrike19</a>
    </div>
  </div>
</div>
<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style='background-color: #f1f1f1'>
  <div class="w3-content">
    <h1 class="w3-text-grey w3-center">Common Questions</h1>
    <div class="w3-third w3-text-grey" style='padding:0px 20px'>
      <p><b>When is the strike?</b><br>The exact date is TBD, but it won't happen until Oct 1 at the earliest.</p><br>
      <p><b>Will the strike work?</b><br><a href="https://www.lmpartnership.org/videos/how-our-partnership-came-to-be" class="w3-text-blue" style="text-decoration: none">It's worked before</a> and it will work again if we stand together!</p><br>
      <p><b>Can I join the strike?</b><br>All Kaiser employees including doctors, nurses, and non-union staff can join. If you don't belong to a Coalition Union, you must notify your supervisor at least 10 days before the strike.</p><br>
    </div>
    <div class="w3-third w3-text-grey" style='padding:0px 20px'>
      <p><b>Can I be disciplined for going on strike?</b><br>No, provided that you've notified your manager at least 10 days before the strike (if you don't belong to a Coalition Union). If you belong to a Coalition Union, you don't have to notify your manager.</p><br>
      <p><b>Can I be disciplined for using this website, or my Kaiser email?</b><br>No. The National Labor Relations Act protects concerted action for mutual aid or protection. However, we recommend against using this website on paid work time.</p><br>
    </div>
    <div class="w3-third w3-text-grey" style='padding:0px 20px'>
      <p><b>Will my personal information be shared, or made public?</b><br>No. Your RSVP will be used to increase the counter above, and your comment will be tweeted anonymously.</p><br>
      <p><b>Who made this website?</b><br>Kaiser employees worked with the Tech Workers Coalition to build this site. TWC is a coalition of tech workers, labor organizers, community organizers, and friends working in solidarity with existing movements towards social justice, workers' rights, and economic inclusion. <a href="https://techworkerscoalition.org" class="w3-text-blue" style="text-decoration: none">Learn more about TWC</a>.</p><br>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center">
  <div class="w3-xlarge w3-padding-32">
    <h1 class="w3-text-black">Spread the Word</h1>
    <a class="fb-like" data-href="https://kaiserstrike.org" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></a><style media="screen" type="text/css">.fb_iframe_widget span{vertical-align: baseline !important;}
    </style> <a class="twitter-hashtag-button" href="https://twitter.com/intent/tweet?button_hashtag=kaiserstrike" data-text="I support the Fall 2019 Kaiser strike" data-url="https://kaiserstrike.org" data-size="large">Tweet #kaiserstrike</a>
  </div>
  <div class="w3-text-grey">
    <p>This website is the result of a collaboration between Kaiser employees and the Tech Workers Coalition. It is in no way affiliated with Kaiser Permanente. Kaiser Permanente and KP are registered trademarks of Kaiser Foundation Health Plan, Inc.</p>
    <p><a style='text-decoration: none' href={% url 'terms' %}>Terms</a> | <a style='text-decoration: none' href={% url 'privacy' %}>Privacy</a> | <a style='text-decoration: none' href="mailto:inquiries@kaiserstrike.org">Contact</a></p>
  </div>
</footer>
</body>
</html>
